#App
NODE_ENV=<development or production>
PORT=5000

#Base URL (Nginx)
URL=<IP_or_DNS_your_public_production>

#Mongo Config
MONGO_ROOT_USERNAME=<your_mongodb_username>
MONGO_ROOT_PASSWORD=<your_mongodb_password>
MONGO_DB=<your_mongodb_database>

#Mongo Connection String
MONGO_URI=mongodb://${MONGO_ROOT_USERNAME}:${MONGO_ROOT_PASSWORD}@mongodb-proshopv2:27017/${MONGO_DB}?authSource=admin

#JWT
JWT_SECRET=<your_jwt_secret>

#Paypal config
PAYPAL_CLIENT_ID=<your_paypal_client_id>
PAYPAL_APP_SECRET=<your_paypal_secret>
PAYPAL_API_URL=<your_paypal_api_url>